.img-fundo {
    width: 100%;
    height: 450px;
}

.img-fundo .opa {
    width: 100%;
    height: 100%;
    background-color: #24A5B2;
    opacity: 50%;
}

.details-info {
    display: flex;
    margin: -16.2rem 40px;
    position: absolute;

    align-items: center;
    justify-content: center;
}

.img-left {
    width: 350px;
    height: 480px;
    border-radius: 10px;
}

.section-right {
    width: 70%;
    margin-left: 10px;
    color: #fff;
}

.section-right h1 {
    width: 40%;
    font: 700 2rem Poppins;
}

.section-right span {
    font: 400 1rem Poppins;
}
.section-right h3 {
    margin-top: 50px;
    font: 700 1.2rem Poppins;
}
.section-right p {
    margin-top: 10px;
    font: 400 1rem Poppins;
}

.details-info-footer {
    padding-top: 15rem;
    width: 100%;
    height: 55vh;
    background-color: #24A5B2;
    padding-left: 50px;
    color: #fff;
    display: flex;
}

.details-score {
    width: 100px;
    height: 90px;
    text-align: center;
    background-color: #FE993B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-score h4 {
    font: 700 0.8rem Poppins;
}

.details-score span {
    font: 700 1.8rem Poppins;
}

.details-info-footer div {
    display: flex;
}

.details-info-footer-right {
    width: 100%;
    height: 90px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px 10px;
    border: 2px solid #707070;
    font: 700 0.8rem Poppins;
}

.details-info-footer-right h3{
    margin-right: 20px;
}

.details-comments {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#comment-myrate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment-myrate span img {
    margin-right: 10px;
    cursor: pointer;
}

.comment-public-header div {
    display: flex;
    align-items: center;
}

.comment-public-header h4 {
    color: #24A5B2;
    margin-right: 10px;
}

.comment-public-header span {
    color: #9b9994;
    padding-right: 10px;
}

.comment-public-header h5 {
    color: #9b9994;
}

.comment-public-body {
    padding-left: 10px;
    margin-bottom: 10px;
    font: 400 0.8rem Poppins;
}

