.page-header {
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24A5B2;
    box-shadow: 0px 2px 2px gray;
    margin-bottom: 1px
}

.bar-left {
    width: 40vw;
}

.bar-left img {
    width: 180px;
    margin-left: 10px;
}

.bar-right {
    width: 60vw;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.bar-right a {
    color: #fff;
    font: 700 1.0rem Poppins;
    text-decoration: none;
}

.bar-search input {
    width: 200px;
    height: 46px;

    padding-left: 10px;
    font-size: 1.0rem;
    border-radius: 50px;
    border: 1px solid var(--color-line-in-white);
}

.bar-icon-user {
    width: 89px;
    height: 46px;
    border-radius: 50px;
    background-color: #155F66;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar-icon-user div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ECAD8;
    width: 36px;
    height: 36px;

    border-radius: 50%;
    cursor: pointer;
}
.bar-icon-user p {
    font: 700 1.2rem Poppins;
}

#header-icone {
    width: 15px;
    height: 15px;
}

.dropDownMenu {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 68.8px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background-color: #155F66;
}

.dropDownMenu div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.dropDownMenu a {
    color: #fff;
    font: 700 1.0rem Poppins;
    margin-left: 10px;
}

.dropDownMenu span {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 19px;
    height: 19px;
    background-color: #155F66;
    color: #155F66;
    transform: rotate(45deg);
    z-index: -100;
}