.details-comments section {
    display: flex;
    margin-top: 20px;
}

.comment-left {
    margin-right: 10px;
}

.comment-public {
    width: 80vw;
    margin-left: 10px;
    border: 2px solid #CCC6BA;
    border-radius: 10px;
}

.comment-public-header {
    display: flex;
    font: 700 0.8rem Poppins;
    margin: 8px 10px;
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.modal-container {
    position: fixed;
    top: 30px;
    z-index: 1040;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #dee2e6;
    font: 700 0.8rem Poppins;
}

.modal-header img {
    cursor: pointer;
    margin-right: 10px;
}

.modal-body {
    padding: 10px 10px;
    border-bottom: 1px solid #dee2e6;
    font: 400 0.8rem Poppins;
}

.modal-footer {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    margin: 0px 5px;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    background-color: #24A5B2;
    color: #fff;
    font: 700 0.9rem Poppins;
    cursor: pointer;
}

#btn-cancel {
    background-color: #6c757d;
    
}