#login{
    width: 100vw;
    height: 100vh;
}

#login-body {
    display: flex;
    flex-wrap: wrap;
}

#login-body-left {
    width: 50vw;

    background-color: #EAEAEA;
}



#login-body-left form {
    height:94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-login {
    width: 60%;
    margin-bottom: 30px;
}

#title-login h1 {
    font: 700 2.0rem Poppins;
}

#title-login h3 {
    font: 400 1.0rem Poppins;
}

#login-body-left form{
    padding: 20px;
}

#login-body-left form input {
    width: 60%;
    height: 10px;
    display: block;
    font-size: 1.4rem;
    color: #9C98A6;
    padding: 2.2rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
}

#login-body-left form input[name="nickname"] {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
#login-body-left form input[name="password"] {
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

#login-body-left form button{
    width: 60%;
    height: 56px;
    background-color: #24A5B2;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.4rem;
    outline: 0;
    margin: 4rem 0;
}

#login-body-left form h3 {
    color: #6A6180;
    font: 400 1.2rem Poppins;
}
#login-body-left form a {
    color: #24A5B2;
    font: 700 1.2rem Poppins;
}

#login-body-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-body-right img {
    width: 90%;
}

@media screen and (max-width: 768px){
    #login-body-right{
        display: none;
    }

    #login-body-left{
        width: 100%;
        text-align: center;
    }

    #login-body-left form input, #login-body-left form button{
        width: 100%;
        height: 60px;
        max-width: 300px;
        padding: 10px;
    }
}