.filmes-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.filmes-main {
    width: 100%;
}

#filmes-main-top {
    display: flex;
    justify-content: space-around;

    margin: 30px 10px;
}

.filmes-main span{
        width: 80vw;
        text-align: center; 
        border-bottom: 2px solid #C7BDE4; 
        line-height: 0.1em;
        margin: 10px 0 15px;
}

.filmes-main h3 {
    font: 700 1.0rem Poppins;
}

.filmes-main a {
    font: 700 0.9rem Poppins;
    color: #24A5B2;
    cursor: pointer;
}

.filmes-container section {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 10px;
}

.filmes-filme {
    margin: 0px 20px;
}
