#register{
    width: 100vw;
    height: 100vh;
}

#register-body {
    display: flex;
    flex-wrap: wrap;
}

#register-body-left {
    width: 50vw;

    background-color: #EAEAEA;
}



#register-body-left form {
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-register {
    width: 60%;
    margin-bottom: 30px;
}

#title-register h1 {
    font: 700 2.0rem Poppins;
}

#title-register h3 {
    font: 400 1.0rem Poppins;
}

#register-body-left form{
    padding: 20px;
}

.reg-inputSpan {
    width: 60%;
    display: inline-block;
    position: relative;
}

.reg-inputSpan input{
    width: 100%;
    height: 10px;
    font-size: 1.4rem;
    color: #9C98A6;
    padding: 2.2rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
}

.reg-inputSpan span{
    position: absolute;
    height: 35px;
    width: 35%;
    top: 0;
    bottom: 0;

    color: #891f1e;
    margin: 20px 10px;
    padding: 10px 5px;
    font: 400 0.5rem Poppins;
    border: 1px solid #891f1e;
    border-radius: 2px;
    background-color: #e9bdbd;
}

#reg-apiError {
    width: 60%;

    color: #891f1e;
    margin: 10px 0px;
    padding: 10px 10px;
    font: 400 0.8rem Poppins;
    border: 1px solid #891f1e;
    border-radius: 2px;
    background-color: #e9bdbd;
}

#register-body-left form input[name="nickname"] {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
#register-body-left form input[name="password"] {
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

#register-body-left form button{
    width: 60%;
    background-color: #24A5B2;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.4rem;
    outline: 0;
    margin: 2rem 0;
    padding: 15px;
}

#register-body-left form h3 {
    color: #6A6180;
    font: 400 1.2rem Poppins;
}
#register-body-left form a {
    color: #24A5B2;
    font: 700 1.2rem Poppins;
}

#register-body-right {
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-body-right img {
    width: 90%;
}

@media screen and (max-width: 768px){
    #register-body-right{
        display: none;
    }

    #register-body-left{
        width: 100%;
    }

    .reg-inputSpan{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }

    .reg-inputSpan input {
        width: 100%;
        height: 60px;
        max-width: 300px;
        padding: 10px;
    }
    .reg-inputSpan span {
        position: relative;
        width: 100%;
        padding: 5px 5px;
        margin: 10px 0px;
        font: 400 0.8rem Poppins;
    }
    #reg-apiError {
        width: 100%;
        max-width: 300px;
    }
    #register-body-left form button{
        width: 100%;
        height: 60px;
        max-width: 300px;
        padding: 10px;
    }
}