#register{
    width: 100vw;
    height: 100vh;
}

#register-body {
    display: flex;
    flex-direction: row;
}

#register-body-left {
    width: 50vw;

    background-color: #EAEAEA;
}



#register-body-left form {
    height:94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-register {
    width: 60%;
    margin-bottom: 30px;
}

#title-register h1 {
    font: 700 2.0rem Poppins;
}

#title-register h3 {
    font: 400 1.0rem Poppins;
}


#register-body-left form input {
    width: 60%;
    height: 10px;
    font-size: 1.4rem;
    color: #9C98A6;
    padding: 2.2rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);

}

#register-body-left form input[name="nickname"] {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
#register-body-left form input[name="password"] {
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

#register-body-left form button{
    width: 60%;
    height: 56px;
    background-color: #24A5B2;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.4rem;
    outline: 0;
    margin: 2rem 0;
}

#register-body-left form h3 {
    color: #6A6180;
    font: 400 1.2rem Poppins;
}
#register-body-left form a {
    color: #24A5B2;
    font: 700 1.2rem Poppins;
}

#register-body-right {
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-body-right img {
    width: 90%;
}